* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.card_Design {
  width: 270px;
  height: 350px;
  margin: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
  * {
    padding: 0;
    margin: 0;
    width: 100%;

    box-sizing: border-box;
  }
}
.timeLine {
  height: 200px;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .timeLine {
    height: 150px;
  }
  .card_Design {
    width: 270px;
    height: 300px;
    margin: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
